<div>
    <form>
     
     
      <div class="container">
        <label for="uname"><b>Id Factura</b></label>
        <input type="text" placeholder="Ingrese ID Factura" name="usuario" required>

        <label for="uname"><b>Fecha de emision</b></label>
        <input type="text" placeholder="Ingrese Fecha" name="usuario" required>

        <label for="uname"><b>Vencimiento</b></label>
        <input type="text" placeholder="Fecha de vencimiento" name="usuario" required>

        <label for="uname"><b>Notas en la factura</b></label>
        <input type="text" placeholder="Ingrese notas factura" name="usuario" required>

        <label for="uname"><b>Descripcion</b></label>
        <input type="text" placeholder="Descripcion producto" name="usuario" required>

        <label for="uname"><b>Precio Unitario</b></label>
        <input type="text" placeholder="Precio producto" name="usuario" required>

        <label for="uname"><b>Iva</b></label>
        <input type="text" placeholder="Ingrese Iva" name="usuario" required>

        <label for="uname"><b>Cantidad</b></label>
        <input type="text" placeholder="Cantidad Producto" name="usuario" required>

        <label for="uname"><b>Total Producto</b></label>
        <input type="text" placeholder="Total Producto" name="usuario" required>

        <label for="uname"><b>Total factura</b></label>
        <input type="text" placeholder="Total factura" name="usuario" required>
     
     
        <input type="button" (click)="entrar()" value="Guardar Factura">
        <label>

        <input type="button" (click)="Cancelar()" value="Cancelar">
            


          <input type="checkbox" checked="checked" name="remember"> Recordar clave
        </label>
      </div>
     
      
    </form>
    </div>
